:host {
  display: flex;
  width: 100%;
  position: relative;
}

.tasks {
  display: flex;
  width: 99%;
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  border-radius: 5px;
  padding: 1rem;
  flex-direction: column;
  height: 100%;
  max-height: 59.5vh;
  margin-top: 5px;
  margin: 10px auto;
  overflow-y: scroll;
}

.tasks__header {
  display: flex;
  width: 97%;
  margin: 0 auto;
  justify-content: center;
  font-size: 1.5rem;
}

.tasks__button {
  background: var(--primary-color);
  color: var(--text-color);
  font-family: "Poppins";
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-weight: bold;
  align-self: flex-end;
  transition: background 0.5s;
  bottom: 14px;
  right: 7px;
  position: absolute;
}

.tasks__button:hover {
  cursor: pointer;
  background: #8d018d;
}

.tasks__list {
  align-self: center;
  margin-top: 2rem;
  list-style: none;
}

.tasks__list > :last-child {
  margin-bottom: 6rem;
}

@media screen and (min-width: 805px) {
  .tasks {
    margin-left: auto;
    background: linear-gradient(var(--secondary-color), var(--primary-color));
    margin-top: 0px;
    position: relative;
  }

  .tasks__header {
    justify-content: space-between;
    position: relative;
  }

  .tasks__button {
    position: relative;
    bottom: 0;
    right: 0;
  }
}
