main {
  color: var(--text-color);
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

ul li:not(:first-child) {
  margin-top: 5px;
}

ul {
  list-style: none;
}

#fallback {
  margin: 0 auto;
  margin-top: 5px;
}

@media screen and (min-width: 805px) {
  main {
    flex-direction: row;
  }
}
